.col-md-3
  .center
    %h1 Bricoschool
  %p.tab Vous souhaitez faire des travaux intérieur ou extérieur, vous êtes motivés pour les faire vous-même notamment pour faire des économies. Cependant sur quelques points particulier vous hésitez, vous n’avez pas les compétences. Grâce à Bricoschool, un professionnel vous expliquera les démarches, les astuces et vous apprendra à travailler.
  %p.tab Grâce à ce site internet, vous serez mis en relation avec une personne compétente dans le domaine de bricolage qui vous intéresse. Cette personne viendra directement sur le lieu de vos travaux. Il vous expliquera les étapes à suivre pour les travaux que vous souhaitez réaliser, il vous donnera des conseils et vous montrera les gestes à avoir. Contrairement aux cours de bricolage que certaines personnes peuvent donner, ces explications seront données directement sur le lieu de vos travaux, il sera donc plus facile pour vous de comprendre.
  %p.tab En échange de ce service, vous aurez toutes les compétences pour réaliser le travail. Vous devrez donc verser une somme d’argent en fonction du temps des explications à celui qui vous aura aidé via le site internet.

.col-md-4
  .center
    %h1 Consommateur
    %p.plus_bas.tab Lorsque vous avez fait votre profil, vous pourrez poster une annonce pour demander de l’aide pour votre Bricolage. Sur l’annonce vous indiquez la date, l’horaire, le lieu, le secteur de bricolage, le nom du travail à faire et une petite description du problème. Ensuite quand l’annonce sera postée, les personnes voulant aider pourront choisir l’offre. Dans ce cas-là vous n’aurez plus qu’à accepter.

.col-md-4
  .center
    %h1 Professionnel
  %p.plus_bas.tab Après vous être inscris, vous pourrez voir toute les annonces faites par les particuliers. Si l’une d’entre elle vous intéresse, vous pourrez proposer vos services. Le particulier acceptera ou non. S’il le souhaite, il pourra vous poser des questions pour voir si vous êtes assez compétent pour le problème.

.col-md-6.col-md-offset-1
  .center
    %h1 Quels Aventages?
  %ul
    %h4.center
      %li
        Faire des
        .gras économies :
        pas besoin de payer une entreprise
    %h4.center
      %li
        Devenir un
        .gras expert :
        apprendre le bricolage grâce à un professionnel afin de réutiliser ces compétences plus tard
    %h4.center
      %li
        Apprendre
        .gras sur le lieu des travaux :
        prendre en compte les spécificités du terrain
