.center
  %h1 Liste des professionnels

%ul
  - @utilisateur.each do |utilisateur|
    - if utilisateur.compte == 'professionnel'
      .col-md-6.col-md-offset-3
        %li
          %h3
            =link_to utilisateur_path(utilisateur.id) do
              = utilisateur.prenom
              = utilisateur.nom
          -if (utilisateur.logo)
            = image_tag utilisateur.logo.thumb("400x200").url
          %h3.plus_bas
