- if @utilisateur.errors.any?
  #error_explanation
    .alert.alert-danger
      Il y a
      = @utilisateur.errors.count
      erreurs dans votre formulaire
    %ul
    - @utilisateur.errors.full_messages.each do |msg|
      %li
        = msg
